body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #fff;
    font-weight:bold;
}

#app {
    width: 320px;
    min-height: 200px;
    margin: 0 auto;
    background-color: #f3f3f3;
    background:url(../img/bg.jpg);
}

table {
    width: 100%;
}

td {
    text-align: left;
}

td.buttons {
    width: 10%;
    white-space: nowrap;
}

h1, h2 {
    font-weight: normal;
    color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

#spinner {
    display: none;
}

#streams td button {
    display: none;
}