body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#app {
    width: 300px;
    min-height: 200px;
    margin: 0 auto;
    background-color: #f3f3f3;
}

table {
    width: 100%;
}

td {
    text-align: left;
}

td.buttons {
    width: 10%;
    white-space: nowrap;
}

img {
    width: 200px;
    height: 200px;
}

h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}
